.main-content-wrapper {
    padding: 100px;
}

.top-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-zero {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
}

.layer-one {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    align-self: flex-start;
    margin: 1.25%;
}

.layer-two {
    width: 55%;
    align-self: flex-start;
    justify-self: flex-end;
    margin: 1.25%;
}

img {
    width: 100%;
}

.caption {
    font-size: 11.5px;
}

.headline {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}